/*Font Weight */
$font-weight-secondary: 100;
$font-weight-primary: 400;
$font-weight-bold: 700;

$nav-dot-color: #d3d5dc;

/* Font family */
$font-family-base: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
Roboto, 'Helvetica Neue', Arial, sans-serif;

/* transition */
$theme-transition: all .1s linear;
